* {
    --desktop-text-base: 1.7;
    --mobile-text-base: 1.6;
    --responsive-text-ratio: 0.7;
    --smallest-font-size: 1.5;
    --h-font-weight: 700;
    --desktop-type-scale-ratio: 1.25;
    --mobile-type-scale-ratio: 1.2;
    --viewport-min: 48;
    --viewport-max: 112;
    --lh-65-150: 0.98;
    --lh-49-64: 1;
    --lh-37-48: 1.1;
    --lh-31-36: 1.2;
    --lh-25-30: 1.33;
    --lh-21-24: 1.45;
    --lh-17-20: 1.54;
    --lh-13-16: 1.68;
    --desktop-h6: 2.125;
    --desktop-h5: 2.65625;
    --desktop-h4: 3.3203125;
    --desktop-h3: 4.150390625;
    --desktop-h2: 5.18798828125;
    --desktop-h1: 6.4849853515625;
    --desktop-hero: 8.1062316894531;
    --mobile-h6: 1.92;
    --mobile-h5: 2.304;
    --mobile-h4: 2.7648;
    --mobile-h3: 3.31776;
    --mobile-h2: 3.981312;
    --mobile-h1: 4.7775744;
    --mobile-hero: 5.73308928;
    --desktop-xs: 1.275;
    --desktop-sm: 1.4875;
    --desktop-base: 1.7;
    --desktop-lg: 1.9125;
    --desktop-xl: 2.125;
    --desktop-2xl: 2.55;
    --desktop-3xl: 2.975;
    --desktop-4xl: 3.825;
    --desktop-5xl: 4.675;
    --desktop-6xl: 5.95;
    --desktop-7xl: 7.225;
    --desktop-8xl: 9.775;
    --desktop-9xl: 11.9;
    --mobile-xs: 1.2;
    --mobile-sm: 1.4;
    --mobile-base: 1.6;
    --mobile-lg: 1.8;
    --mobile-xl: 2;
    --mobile-2xl: 2.4;
    --mobile-3xl: 2.8;
    --mobile-4xl: 3.6;
    --mobile-5xl: 4.4;
    --mobile-6xl: 5.6;
    --mobile-7xl: 6.8;
    --mobile-8xl: 9.2;
    --mobile-9xl: 11.2;
    --lh-hero: 0.99;
    --lh-h1: 1.04;
    --lh-h2: 1.05;
    --lh-h3: 1.15;
    --lh-h4: 1.265;
    --lh-h5: 1.39;
    --lh-h6: 1.495;
    --lh-xs: 1.68;
    --lh-sm: 1.68;
    --lh-base: 1.61;
    --lh-lg: 1.54;
    --lh-xl: 1.495;
    --lh-2xl: 1.39;
    --lh-3xl: 1.33;
    --lh-4xl: 1.15;
    --lh-5xl: 1.1;
    --lh-6xl: 1;
    --lh-7xl: 0.98;
    --lh-8xl: 0.98;
    --lh-9xl: 0.98;
    --primary-color: rgb(255, 0, 0);
    --dark-color: rgb(10, 20, 35);
    --paragraph-color: rgb(76, 82, 91);
    --border-color: rgb(209, 213, 219);
    --placeholder-color: rgb(234, 240, 249);
    --background-color: rgb(248, 249, 250);
    --secondary-color: rgb(144, 106, 44);
    --light-color: rgb(249, 249, 250);
    --paragraph-alt-color: rgb(216, 226, 242);
    --border-alt-color: rgb(124, 166, 232);
    --placeholder-alt-color: rgb(98, 140, 207);
    --background-alt-color: rgb(241, 244, 247);
    --tertiary-color: rgb(44, 144, 56);
    --black-color: rgb(13, 14, 17);
    --white-color: rgb(249, 249, 250);
    --success-color: rgb(32, 105, 56);
    --warning-color: rgb(144, 104, 44);
    --error-color: rgb(144, 44, 44);
    --success-light-color: rgb(234, 255, 241);
    --warning-light-color: rgb(255, 246, 234);
    --error-light-color: rgb(255, 234, 234);
    --extra-color-1: rgb(254, 215, 102);
    --extra-color-2: rgb(254, 138, 113);
    --extra-color-3: rgb(14, 154, 167);
    --extra-color-4: rgb(83, 104, 120);
    --transparent-color: rgba(0, 0, 0, 0);
    --instagram-color-1: #405de6;
    --instagram-color-2: #5851db;
    --instagram-color-3: #833ab4;
    --instagram-color-4: #c13584;
    --instagram-color-5: #e1306c;
    --instagram-color-6: #fd1d1d;
    --instagram-color-7: #f56040;
    --instagram-color-8: #f77737;
    --instagram-color-9: #fcaf45;
    --instagram-color-10: #ffdc80;
    --linear-gradient: linear-gradient(45deg, var(--instagram-color-2) 10%, var(--instagram-color-6) 90%);
    /*Text*/
    --responsive-text-base: calc(var(--desktop-text-base) * var(--responsive-text-ratio));
    --viewport-calc: calc((100vw - calc(var(--viewport-min) * 1rem)) / (var(--viewport-max) - var(--viewport-min)));
    --h1: min(max(calc(var(--mobile-h1) * 1rem), calc(var(--mobile-h1) * 1rem + (var(--desktop-h1) - var(--mobile-h1)) * var(--viewport-calc))), calc(var(--desktop-h1) * 1rem));
    --h2: min(max(calc(var(--mobile-h2) * 1rem), calc(var(--mobile-h2) * 1rem + (var(--desktop-h2) - var(--mobile-h2)) * var(--viewport-calc))), calc(var(--desktop-h2) * 1rem));
    --h3: min(max(calc(var(--mobile-h3) * 1rem), calc(var(--mobile-h3) * 1rem + (var(--desktop-h3) - var(--mobile-h3)) * var(--viewport-calc))), calc(var(--desktop-h3) * 1rem));
    --h4: min(max(calc(var(--mobile-h4) * 1rem), calc(var(--mobile-h4) * 1rem + (var(--desktop-h4) - var(--mobile-h4)) * var(--viewport-calc))), calc(var(--desktop-h4) * 1rem));
    --h5: min(max(calc(var(--mobile-h5) * 1rem), calc(var(--mobile-h5) * 1rem + (var(--desktop-h5) - var(--mobile-h5)) * var(--viewport-calc))), calc(var(--desktop-h5) * 1rem));
    --h6: min(max(calc(var(--mobile-h6) * 1rem), calc(var(--mobile-h6) * 1rem + (var(--desktop-h6) - var(--mobile-h6)) * var(--viewport-calc))), calc(var(--desktop-h6) * 1rem));
    --hero: min(max(calc(var(--mobile-hero) * 1rem), calc(var(--mobile-hero) * 1rem + (var(--desktop-hero) - var(--mobile-hero)) * var(--viewport-calc))), calc(var(--desktop-hero) * 1rem));
    --smallest-mobile-xs: max(var(--mobile-xs), var(--smallest-font-size));
    --smallest-mobile-sm: max(var(--mobile-sm), var(--smallest-font-size));
    --smallest-mobile-base: max(var(--mobile-base), var(--smallest-font-size));
    --smallest-mobile-lg: max(var(--mobile-lg), var(--smallest-font-size));
    --smallest-mobile-xl: max(var(--mobile-xl), var(--smallest-font-size));
    --smallest-mobile-2xl: max(var(--mobile-2xl), var(--smallest-font-size));
    --smallest-mobile-3xl: max(var(--mobile-3xl), var(--smallest-font-size));
    --smallest-mobile-4xl: max(var(--mobile-4xl), var(--smallest-font-size));
    --smallest-desktop-xs: max(var(--desktop-xs), var(--smallest-font-size));
    --smallest-desktop-sm: max(var(--desktop-sm), var(--smallest-font-size));
    --smallest-desktop-base: max(var(--desktop-base), var(--smallest-font-size));
    --text-xs: min(max(calc(var(--smallest-mobile-xs) * 1rem), calc(var(--smallest-mobile-xs) * 1rem + (var(--smallest-desktop-xs) - var(--smallest-mobile-xs)) * var(--viewport-calc))), calc(var(--smallest-desktop-xs) * 1rem));
    --text-sm: min(max(calc(var(--smallest-mobile-sm) * 1rem), calc(var(--smallest-mobile-sm) * 1rem + (var(--smallest-desktop-sm) - var(--smallest-mobile-sm)) * var(--viewport-calc))), calc(var(--smallest-desktop-sm) * 1rem));
    --text-base: min(max(calc(var(--smallest-mobile-base) * 1rem), calc(var(--smallest-mobile-base) * 1rem + (var(--smallest-desktop-base) - var(--smallest-mobile-base)) * var(--viewport-calc))), calc(var(--smallest-desktop-base) * 1rem));
    --text-lg: min(max(calc(var(--smallest-mobile-lg) * 1rem), calc(var(--smallest-mobile-lg) * 1rem + (var(--desktop-lg) - var(--smallest-mobile-lg)) * var(--viewport-calc))), calc(var(--desktop-lg) * 1rem));
    --text-xl: min(max(calc(var(--smallest-mobile-xl) * 1rem), calc(var(--smallest-mobile-xl) * 1rem + (var(--desktop-xl) - var(--smallest-mobile-xl)) * var(--viewport-calc))), calc(var(--desktop-xl) * 1rem));
    --text-2xl: min(max(calc(var(--smallest-mobile-2xl) * 1rem), calc(var(--smallest-mobile-2xl) * 1rem + (var(--desktop-2xl) - var(--smallest-mobile-2xl)) * var(--viewport-calc))), calc(var(--desktop-2xl) * 1rem));
    --text-3xl: min(max(calc(var(--smallest-mobile-3xl) * 1rem), calc(var(--smallest-mobile-3xl) * 1rem + (var(--desktop-3xl) - var(--smallest-mobile-3xl)) * var(--viewport-calc))), calc(var(--desktop-3xl) * 1rem));
    --text-4xl: min(max(calc(var(--smallest-mobile-4xl) * 1rem), calc(var(--smallest-mobile-4xl) * 1rem + (var(--desktop-4xl) - var(--smallest-mobile-4xl)) * var(--viewport-calc))), calc(var(--desktop-4xl) * 1rem));
    --text-5xl: min(max(calc(var(--mobile-5xl) * 1rem), calc(var(--mobile-5xl) * 1rem + (var(--desktop-5xl) - var(--mobile-5xl)) * var(--viewport-calc))), calc(var(--desktop-5xl) * 1rem));
    --text-6xl: min(max(calc(var(--mobile-6xl) * 1rem), calc(var(--mobile-6xl) * 1rem + (var(--desktop-6xl) - var(--mobile-6xl)) * var(--viewport-calc))), calc(var(--desktop-6xl) * 1rem));
    --text-7xl: min(max(calc(var(--mobile-7xl) * 1rem), calc(var(--mobile-7xl) * 1rem + (var(--desktop-7xl) - var(--mobile-7xl)) * var(--viewport-calc))), calc(var(--desktop-7xl) * 1rem));
    --text-8xl: min(max(calc(var(--mobile-8xl) * 1rem), calc(var(--mobile-8xl) * 1rem + (var(--desktop-8xl) - var(--mobile-8xl)) * var(--viewport-calc))), calc(var(--desktop-8xl) * 1rem));
    --text-9xl: min(max(calc(var(--mobile-9xl) * 1rem), calc(var(--mobile-9xl) * 1rem + (var(--desktop-9xl) - var(--mobile-9xl)) * var(--viewport-calc))), calc(var(--desktop-9xl) * 1rem));
}