<!DOCTYPE html>
<html lang="no">

<!-- Inserting the meta description -->

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width">
    <meta name="robots" content="max-image-preview:large">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Inserting the link to the style -->
    <script src="https://kit.fontawesome.com/ec9a9479b5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/stylesheet.css">
    <link rel="stylesheet" href="/css/root.css">
    <link rel="stylesheet" href="/css/mediaquery.css">

    <title>Creating web items</title>
</head>

<!-- Creating the body element -->

<body class="ct-section site-container">
    <header class=" ct-section hamburger-menu border-b py-2">
        <div class="nav-wrapper">
            <div class="row-left centered content-center">
                <a href="">
                    <img class="menu-logo object-cover" src="/img/rose.png">
                </a>
            </div>
            <div class="row-center horizontal centered text-center text-xl uppercase">
                <a class="meny-knapper space-x-3 hover-color-primary color-primary" id="home" href="">Front</a>
                <a class="meny-knapper space-x-3 hover-color-primary" id="about" href="/OmOss">Om Oss</a>
                <a class="meny-knapper space-x-3 hover-color-primary" id="services" href="/Tjenester">Tjenester</a>
                <a class="meny-knapper space-x-3 hover-color-primary" id="contact" href="/kontakt">Kontakt</a>
            </div>
            <div class="row-right horizontal text-right text-xl">
                <a class="hover-color-primary" href="mailto:Info@mail.no" target="_blank">Info@mail.no</a>
            </div>
        </div>
    </header>
    <section id="hero" class=" ct-section hero-image">
        <div class="ct-section-inner-wrap">
            <div class="hero-text w-full grid items-center gap-20">
                <div class="col-span-3 lg-col-span-1">
                    <h1 id="headline1" class="h1 color-light mb-4">Christian</h1>
                    <h1 id="headline1-2" class="h1 color-light mb-4">Frederik</h1>
                    <h1 id="headline1" class="h1 color-light mb-4">Dagene</h1>
                    <h1 id="headline1" class="h1 color-light mb-4"><span class="ct-span">//</span>2022</h1>
                </div>
                <div class="rounded-xl col-span-2 lg-col-span-1 py-16 px-12 items-center">
                </div>
            </div>
        </div>
    </section>
    <section id="section-1">
        <div class="w-full">
            <div class="auto-grid-2 horizontal centered items-start">
                <div id="column-1" class="text-center h-full space-x-12">
                    <div class="border-px p-4">
                        <img src="/img/rose.png">
                    </div>
                </div>
                <div class=""></div>
                <div id="column-2" class="text-left">
                    <div class="p-0">
                        <h1 class="font-semibold font-headings mt-0 mb-0">Hello there</h1>
                    </div>
                    <div class="p-2">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing el met else temp.
                            <br>Lorem ipsum dolor sit amet, consectetur adipisicing el met else temp.
                            <br>Lorem ipsum dolor sit amet, consectetur adipisicing el met else temp.
                            <br>Lorem ipsum dolor sit amet, consectetur adipisicing el met else temp.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing el met else temp.
                            <br>Lorem ipsum dolor sit amet, consectetur adipisicing el met else temp.
                            <br>Lorem ipsum dolor sit amet, consectetur adipisicing el met else temp.
                            <br>Lorem ipsum dolor sit amet, consectetur adipisicing el met else temp.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing el met else temp.
                            <br>Lorem ipsum dolor sit amet, consectetur adipisicing el met else temp.
                            <br>Lorem ipsum dolor sit amet, consectetur adipisicing el met else temp.
                            <br>Lorem ipsum dolor sit amet, consectetur adipisicing el met else temp.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing el met else temp.
                            <br>Lorem ipsum dolor sit amet, consectetur adipisicing el met else temp.
                            <br>Lorem ipsum dolor sit amet, consectetur adipisicing el met else temp.
                            <br>Lorem ipsum dolor sit amet, consectetur adipisicing el met else temp.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="w-full vertical centered">
            <div class="mt-8 mb-8">
                <h2 class="text-center">Noen av våre prosjekter</h2>
            </div>
            <div class="grid-cols-4 grid w-2by2 gap-8">
                <div class="card">
                    <img style="height: 256px;width:272px;" class=" rounded-50 w-full mb-4 object-cover" src="https://source.unsplash.com/RnBihb5o_Ho">
                </div>
                <div class="card">
                    <img style="height: 256px;width:272px;" class=" rounded-50 w-full mb-4 object-cover" src="https://source.unsplash.com/RnBihb5o_Ho">
                </div>
                <div class="card">
                    <img style="height: 256px;width:272px;" class=" rounded-50 w-full mb-4 object-cover" src="https://source.unsplash.com/hWUvlm2NxPc">
                </div>
                <div class="card">
                    <img style=" height: 256px; width:272px;" class=" rounded-50 w-full mb-4 object-cover " src="https://source.unsplash.com/4yPHCb1SPR4 ">
                </div>
                <div class="card">
                    <img style="height: 256px;width:272px; " class=" rounded-50 w-full mb-4 object-cover " src="https://source.unsplash.com/n8TEwh2u9cA ">
                </div>
                <div class="card">
                    <img style="height: 256px;width:272px; " class=" rounded-50 w-full mb-4 object-cover " src="https://source.unsplash.com/I4p0FcjDBJI ">
                </div>
                <div class="card">
                    <img style="height: 256px; width:272px;" class=" rounded-50 w-full mb-4 object-cover " src="https://driftreklame.no/wp-content/uploads/2022/03/Vann.jpg ">
                </div>
                <div class="card">
                    <img style="height: 256px; width:272px;" class=" rounded-50 w-full mb-4 object-cover " src="https://source.unsplash.com/LPZy4da9aRo">
                </div>
            </div>

        </div>
    </section>
    <section>
        <div class="w-full centered ">
            <div class="p-0 mb-0 mt-0 ">
                <div class="h-full ">
                    <h2 class="text-center mt-0 mb-6 ">Del oss på sosiale medier</h2>
                </div>
                <div class="text-sm text-normal icon-md-dark ">
                    <a href="# ">
                        <i class="fa-brands fa-instagram mt-4 p-2 ">
                            <text class="ml-2 ">Instagram</text>
                    </i>
                    </a>
                    <a href="# ">
                        <i class="fa-brands fa-facebook mt-4 p-2 ">
                            <text class="ml-2 ">Facebook</text>
                        </i></a>
                    <a href="# ">
                        <i class="fa-brands fa-pinterest mt-4 p-2 ">
                            <text class="ml-2 ">Pinterest</text>
                        </i></a>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer-container border-t py-10 ">
        <div class="footer-wrapper ">
            <div class="col-left ml-20 mr-20 ">
                <div class="w-auto ">
                    <img class="menu-logo text-left " src="/img/rose.png ">
                </div>
                <div class="text-left text-sm mt-4 ">
                    Lorem ipsum dolor sit amet, ipsum dolor sit amet, adipis ipsum dolor sit amet, adipis ipsum dolor sit amet, adipis. ipsum dolor sit amet.
                </div>
                <div class="text-left ">
                    <button class="btn-m btn-primary text-sm mt-4 ">Nyhestsbrev</button>
                </div>
            </div>
            <div class="col-center-1 "></div>
            <div class="col-center ">
                <div class="text-left text-lg capitalize underline ">
                    <text>Ring oss</text>
                </div>
                <div class="text-left text-xs mt-2 ">
                    <a href="tel:+47 000 00 000 ">+47 000 00 000</a>
                </div>
                <div class="text-left text-lg capitalize underline mt-4 ">
                    <text>Her er vi</text>
                </div>
                <div class="text-left text-sm mt-2 ">
                    <text>Adresse 1 vei 1 0000 sted</text>
                </div>
            </div>

            <div class="col-right ">
                <div class="text-left text-lg capitalize underline ">
                    <text>Example</text>
                </div>
                <div class="text-left text-xs mt-2 ">
                    <text>Lorem Ipsum</text>
                </div>
                <div class="text-left text-lg capitalize underline mt-4 ">
                    <text>Følg oss</text>
                </div>
                <div class="text-left mt-2 icon-sm-dark text-sm vertical ">
                    <i class="fa-brands fa-instagram mt-2 "><text class="ml-2 ">Instagam</text></i>
                    <i class="fa-brands fa-facebook mt-2 "><text class="ml-2 ">Facebook</text></i>
                    <i class="fa-brands fa-pinterest mt-2 "><text class="ml-2 ">Pinterest</text></i>
                </div>
            </div>
        </div>
    </footer>
</body>

<!-- Creating the link to the javascript -->
<script src="/js/script.js "></script>
<script type="text/php " src="/php/contact.php "></script>

</html>