/* Styling the heading */

.header {
    overflow: hidden;
    font-style: normal;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    font-display: inherit;
}

.heading {
    overflow: hidden;
    height: 200px;
    margin: 0;
    padding: 0;
    background-color: #fff;
    width: 100%;
}


/* Styling the left side of the menu */

.meny-row-left {
    width: 30%;
    display: inline-block;
    height: 100%;
}

.logo {
    height: 100px;
    width: 100px;
    float: right;
    margin-top: 50px;
}


/* Styling the right side of the menu */

.meny-row-middle {
    width: 40%;
    display: inline-block;
    height: 100%;
}

.meny-row-right {
    width: 30%;
    display: inline-block;
    height: 100%;
}


/* Styling the menu buttons */

.meny-knapper {
    color: #000;
    text-decoration: none;
    margin: 20px;
}

.navbar {
    margin-top: 75px;
    width: 100%;
    text-align: center;
    font-size: 35px;
}

.active,
.meny-knapper:hover {
    color: red;
}


/* Creating a full site container */

.site-container {
    width: 100%;
}

.footer {
    overflow: hidden;
    height: 200px;
    margin: 0;
    padding: 0;
    background-color: white;
    width: 100%;
    padding-top: 50px;
}

.footer-left {
    vertical-align: bottom;
    height: 100%;
    width: 20%;
    display: inline-block;
}

.footer-middle {
    vertical-align: bottom;
    height: 100%;
    width: 25%;
    display: inline-block;
}

.footer-right {
    vertical-align: bottom;
    height: 100%;
    width: 20%;
    display: inline-block;
}

.back-to-top {
    display: inline-block;
    text-align: center;
    padding: 10px 10px 10px 10px;
    width: 20px;
    height: auto;
    cursor: pointer;
}

.back-to-top:hover {
    background-color: red;
    cursor: pointer;
    text-align: center;
    font-size: 25px;
}

.footer-logo {
    padding-right: 190px;
    display: inline-block;
    width: 75px;
    height: 75px;
}

.copyright-txt {
    color: #000;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
    font-style: inherit;
    font-size: 16px;
}

.info-text {
    text-align: left;
    color: #000;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
    font-style: inherit;
    font-size: 16px;
    line-height: 1.5;
}

.container {
    width: 80%;
}

.heading-info {
    text-align: left;
    width: 100%;
}

.heading-tekst {
    text-align: left;
    width: 50%;
    font-size: 25px;
    line-height: 1.5;
}